*{
    box-sizing: border-box;
}

footer>p {
    margin: 0 auto;
    padding: 5px;
    text-align: center;
    background-color: #e6e6e6;
}

.jum {
    background-color: rgb(239,104,36) !important;
}
